# Remember to comment code

In [1]:
import pandas as pd
import numpy as np

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv('../Data/Data Cleaning and Feature Eng/SL-recent-grads.csv')
data.head()

,Unnamed: 0,Major_category_Agriculture & Natural Resources,Major_category_Arts,Major_category_Biology & Life Science,Major_category_Business,Major_category_Communications & Journalism,Major_category_Computers & Mathematics,Major_category_Education,Major_category_Engineering,Major_category_Health,...,Major_code,Major,Major_category,Women,ShareWomen,Part_time,Unemployment_rate,Median,P25th,P75th
0,0,0,0,0,0,0,0,0,1,0,...,2419,PETROLEUM ENGINEERING,Engineering,282,0.120564,270,0.018381,110000,95000,125000
1,1,0,0,0,0,0,0,0,1,0,...,2416,MINING AND MINERAL ENGINEERING,Engineering,77,0.101852,170,0.117241,75000,55000,90000
2,2,0,0,0,0,0,0,0,1,0,...,2415,METALLURGICAL ENGINEERING,Engineering,131,0.153037,133,0.024096,73000,50000,105000
3,3,0,0,0,0,0,0,0,1,0,...,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,135,0.107313,150,0.050125,70000,43000,80000
4,4,0,0,0,0,0,0,0,1,0,...,2405,CHEMICAL ENGINEERING,Engineering,11021,0.341631,5180,0.061098,65000,50000,75000

In [3]:
data.describe()

,Unnamed: 0,Major_category_Agriculture & Natural Resources,Major_category_Arts,Major_category_Biology & Life Science,Major_category_Business,Major_category_Communications & Journalism,Major_category_Computers & Mathematics,Major_category_Education,Major_category_Engineering,Major_category_Health,...,Major_category_Social Science,Rank,Major_code,Women,ShareWomen,Part_time,Unemployment_rate,Median,P25th,P75th
count,172.000000,172.00000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,...,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000
mean,86.075581,0.05814,0.046512,0.081395,0.075581,0.023256,0.063953,0.093023,0.168605,0.069767,...,0.052326,87.075581,3880.273256,22653.656977,0.523090,8883.750000,0.068587,40152.325581,29440.406977,51561.046512
std,50.221266,0.23469,0.211205,0.274240,0.265099,0.151155,0.245384,0.291313,0.375496,0.255498,...,0.223333,50.221266,1692.670105,41053.785020,0.231135,14675.322609,0.029967,11503.665592,9157.437674,14923.788658
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1100.000000,0.000000,0.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000
25%,42.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,43.750000,2402.750000,1851.500000,0.336026,1037.500000,0.050723,33000.000000,24000.000000,42000.000000
50%,86.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,87.500000,3607.500000,8386.500000,0.539560,3332.500000,0.068272,36000.000000,27000.000000,47050.000000
75%,129.250000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,130.250000,5503.250000,22553.750000,0.703299,9981.000000,0.087599,45000.000000,33000.000000,60000.000000
max,172.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,173.000000,6403.000000,307087.000000,0.968954,115172.000000,0.177226,110000.000000,95000.000000,125000.000000

In [4]:
train, test = train_test_split(data,test_size=0.15)

Add data histograms here

In [ ]:
c = DecisionTreeClassifier(min_samples_split=100)

In [ ]:
features = ['Major_category','Num_majors','ShareWomen','Women','Percent_college','Percent_non_college','Percent_low_wage','Percent_sample_size','Unemployment_rate','P25th','P75th','Part_time']

In [ ]:
X_train = train[features]
y_train = train['target']

X_test = test[features]
y_test = test['target']

In [ ]:
c.fit(X_train,y_train)

In [ ]:
import imageio,io
import pydotplus

In [ ]:
def show_tree(tree,features,path):
  f = io.StringIO()
  export_graphviz(tree,out_file=f,feature_names=features)
  pydotplus.graph_from_dot_data(f.getvalue()).write_png(path)
  img = imageio.imread(path)
  plt.rcParams['figure.figsize'] = (20,20)
  plt.imshow(img)

In [ ]:
show_tree(c,features,'decision_tree')

In [ ]:
y_pred = c.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)*100

In [ ]:
print("Accuracy using Decision Tree: ",score )